* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;
    object-fit: none;
    object-position: 50% 50%;
}

/* align items center vertically and horizontally  */
.btn img{
    padding-top: 15px;
    padding-left: 75px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 100vh;
}

.form {
    width: 350px;
    height: 680px;
    background-color: rgba(41, 39, 39, 0.3);
    box-shadow: 0 10px 15px black;
}

.btn button {
    padding: 2px;
    padding-bottom: 0px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
}

.formGroup,.g-recaptcha {
    display: flex;
    justify-content: center;
}

.formGroup input {
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
.g-recaptcha{
    padding-bottom: 1px;
}
input:focus {
    outline: none !important;
    border-bottom: 2px solid;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

::placeholder {
    color: white;
}

.text {
    color: rgb(199, 197, 197);
    font-size: 13px;
}

.btn2 {
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: #7A23F0;
    border-style: none;
    color: white;

    font-weight: 600;
}

.btn2:hover {
    /* cursor: pointer; */
    background-color: #723fa7;
}